<template>
  <div class="wrapper">
    <div class="container">
      <div class="left">
        <textarea v-model="currentText"></textarea>
        <button type="button" class="btn" @click="addText">Submit</button>
      </div>
      <div class="right">
        <h1> Text:</h1>
        <div class="textContainer">
          <div class="textView" v-for="text in texts">
            {{ text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "index",
  data() {
    return {
      currentText: "",
      texts: []
    }
  },
  methods: {
    addText() {
      if (this.currentText.trim()) {
        this.texts.push(this.currentText)
        this.currentText = ""
      }
    }
  }
}
</script>

<style scoped>


.wrapper{
  display: flex;
  justify-content: center;
  /*background: #ff9552;*/
  height: 100vh;
}

.container{
  display: flex;
  max-width: 1200px;
  /*background: bisque;*/
  flex: 1 0 0;
  gap: 2rem;
  padding: 2.5rem 1rem;
}

.left{
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: .5rem;
}

.right{
  display: flex;
  flex-direction: column;
  flex: 1.5 0 0;
  gap: 2rem;
}

.btn {
  padding: .5em 1em;
  font-size: 1.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover{
  background: #ff9552;
}

textarea{
  font-size: 1.25rem;
  padding: .2rem .5rem;
}

.textContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.textView{
  font-size: 1.25rem;
  border: 1px rgba(0,0,0,.5) solid;
  padding: .25rem .5rem;
}
</style>